body {
	font-family:arial, helvetica,  sans-serif;
	font-size: 14.3px;
	color: #666;
	line-height: 1.5em;
	background-color: #fff;
	padding: 0px;
	margin: 0px;	
  margin-left: 10%; margin-right: 10%;
}

ul, ol, li, h1, h2, h3, h4, h5, h6{
padding:0px;
margin:0px;
list-style:none;
width:100%;
float:left;
color:#ff7b14;
}

.textbody {
float:right;
width:100%;
}

.toptext {
float:left;
width:100%;
color:#ccc;
font-size:1.2em;
letter-spacing:0.0em;
border-top:1px solid #352b29;
background-repeat:no-repeat;
background-position:bottom;
}
.toptext h2 {
color:#fff;
border-bottom:none;
font-size:0.8em;
}

div#about {margin-top:0;margin-bottom:0;font-size:0.8em;}
div#about a{display:inline;color:#151B8D;}

.mainsub {
width:100%;
float:left;
margin-top:5px;
}
.special {
background-color:#1C1C1C;
border:1px solid #ccc;
padding:2px;
}
.views {
background-color:#ff9;
border:1px solid #ccc;
padding:2px;
font-size:12px}
}
.white {
color:#fff;}

.textmeta {
float:left;
width:25%;
font-size:0.9em;
color:#888;
line-height:1.8em;
}

strong {
color:#222;
font-weight:bold;
}

a:link, a:visited {
color:#7fff00;
text-decoration:none;
}
a:hover {
color:#ff7b14;
text-decoration:underline;
}

.top, .main, .footer, .topbar, .main_black {
float:left;
width:100%;
}

.top_black {
float:left;
width:100%;
background-color:#2b2422;
border-top:1px solid #352b29;
background-repeat:repeat-x;
background-position:bottom;
background-repeat:repeat-x;
background-position:bottom;

}
.footer a:link{
text-decoration:underline;
color:#7fff00;
}

h2 {
margin:4px 0;
padding:8px 0;
font-size:3.6em;
font-weight:lighter;
border-bottom:1px solid #e9e9e9;
line-height:1.2em;
}

h2, h3, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited {
color:#1a1a1a;
text-decoration:none;
}

h3 {
padding:8px 0 0 0;
margin:5px 0 0 0;
border-top:1px solid #e9e9e9;
font-size:1.3em;
font-weight:lighter;
}

.right h3 {
border-top:none;
}

.header {
width:100%;
background-color:#53afc8;
color:#fff;
margin:0 0 20px 0;
height:290px;
font-size:1.5em;
text-align:center;
background-repeat:repeat-x;
background-position:top;
}

ul.portfolio li {
float:left;
width:33%;
}

.button2 {
background-color:#53afc8;
background-position:top left;
background-repeat:no-repeat;
color:#fff;
line-height:1.5em;
width:50px;
text-align:center;
font-weight:lighter;
letter-spacing:1px;
font-size:0.85em;
}

.buttonint {
background-repeat:no-repeat;
background-position:top right;
padding-top:3px;
padding-bottom:2px;

}

input#s, textarea, input{
border:2px solid #e9e9e9;
background-color:#fff;
}

input#searchsubmit{
background-color:#f87000;
color:#fff;
border:1px solid #fff;
padding:3px 10px;
font-weight:lighter;
}

div#header{position:relative}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;background: #EEE;color: #79B30B}
div#header a{position:absolute;right:0;top:23px}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}
div#footer a{display:inline;padding:0;color:#00ffff;}
div#footer{clear:left;width:100%}