{% extends "base.html" %}

{% block content %}
<p>
  folks on twitter are obsessed with tiny urls and rightly so. you only have 140 characters to work with.
  when folks tweet image uploads they have their status update followed by the link to the url.
  i wondered if i could merge the two together. and i did.
</p>
<p>
  so instead of saying <a href="http://twitter.com/MeRRyuMMy/status/6014406834">this</a>, you can just
  say <a href="http://twitter.com/ps3btc/status/6015150399">this</a>. as you can see the status update
  is embedded inside the image URL. we know how badly you wanted this :)
</p>
<p>
  for now you can sign in with your google account. automatic update to twitter isn't there yet. maybe
  i should remove the cute powered by twitter icon below.
</p>
{% endblock %}
