<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:tg="http://twitgoo.com" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
  <head>
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
		<meta name="google-site-verification" content="7KYgTyhVWmUIcsjQ3d-EZ8Ab3Kka8dMXPykiXMPeRxs" />
		<meta name="robots" content="index,follow" />
		<meta name="language" content="en" />
		<meta name="keywords" content="twitter tweet twimgr twitgoo twitpic picture image upload update status post video pic photo tinypic" />
		<meta name="description" content="Twimgr lets you embed your tweet inside the URL of the image that you upload. Share your pictures on twitter with Twimgr!" />
	</head>
  <title>twimgr.com embed your tweet inside the URL of the image that you upload</title>
	<body>
		<div class="top_black">
				<div class="toptext">
					<h2>embed your tweet inside the URL of the image that you upload</h2>
						<center>
								<a href="/">home</a>&nbsp;&nbsp;&nbsp;<a href="/about">what is twimgr.com?</a>&nbsp;&nbsp;&nbsp;<b><a href="/u">upload image</a></b>&nbsp;&nbsp;&nbsp;<a href="/user/{{ username }}">my twimgr <i>({{ username }})</i></a>
						</center>
				</div>
			</div>
			<div class="mainsub">
				<p>
						<center><p><a name="fb_share" type="button_count"href=" http://www.facebook.com/sharer.php">Share on facebook</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></p></center>
				
					<center>
						{% block content %}{% endblock %}
					</center>
				</div>
				<div id="footer">
						<center>
								&copy; <a href="http://twitter.com/hnag">Hareesh Nagarajan</a> 2009&nbsp;
                <center>
                  <img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" /></a>
                </center>
						</center>
				</div>
				<script type="text/javascript">
					var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
					document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
				</script>
				<script type="text/javascript">
					try {
					var pageTracker = _gat._getTracker("UA-11757773-1");
					pageTracker._trackPageview();
					} catch(err) {}
				</script>
  </body>
</html>
