<html lang="en">
	<head>
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css"/>
		</head>
		<body>
				<div class="top_black">
						<div class="toptext">
								<h2>twimgr.com embed your tweet inside the URL of the image that you upload</h2>
						</div>
						<center>
								<a href="/u">tweet a pic</a>&nbsp;
						</center>
				</div>
				<div class="mainsub">
						{% for image in image_list %}
						<center>
								<img src='/img?img_id={{ image.key }}'</img>
								<p>
										uploaded by {{ image.author.nickname }} to <a href="/{{ image.content }}">{{ image.content }}</a> on {{ image.date.isoformat }}
								</p>
						</center>
						{% endfor %}
				</div>
				<div class="footer">
						<center>
								ps3btc &copy; <a href="http://linkybinky.appspot.com">linkybinky</a> 2009.
								<a href="http://www.twitter.com" target="_blank">
										<img src="/stylesheets/powered-by-twitter-sig.gif">
								</a>
						</center>
				</div>
		</body>
</html>