{% extends "base.html" %}

{% block content %}
<p>oh noes, we have a pr0blem.
		<b>
			{% ifequal problem "ERR_IMG_TOO_LARGE" %}
			The image was too large. Google Appengine only lets us upload files that are 1 MB in size. *sniff*
			{% endifequal %}

			{% ifequal problem "ERR_PAYLOAD_EMPTY" %}
			The size of the image was ZERO!
			{% endifequal %}
			
			{% ifequal problem "ERR_USER_NO_RESULTS" %}
			You haven't uploaded a single picture. But you have nothing to worry. <a href="/u">Go on, upload!</a>.
			{% endifequal %}

			{% ifequal problem "ERR_LINK_NOT_EXIST" %}
			The link you refer to doesn't exist. *cwap*
			{% endifequal %}
		</b>
</p>
{% endblock %}
